
<%- include('partials/navbar.ejs', { name: name, isLoggedIn: isLoggedIn, email: email}); %>
    <h1>Profile</h1>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>