.agency-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.agency-upload-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 500px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agency-upload-box h2 {
  margin-bottom: 20px;
}

.agency-upload-box form {
  display: flex;
  flex-direction: column;
}

.agency-upload-box label {
  margin-bottom: 5px;
}

.agency-upload-box input,
.agency-upload-box textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.agency-upload-box button {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}
